<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gym.mapper.EquipmentMapper">
    <select id="findAll" resultType="com.gym.entity.Equipment">
        SELECT * FROM equipment ORDER BY create_time DESC
    </select>
    <select id="findById" resultType="com.gym.entity.Equipment">
        SELECT * FROM equipment WHERE id = #{id}
    </select>
    <insert id="insert">
        INSERT INTO equipment (name, type, description, image, total_count, available_count, status)
        VALUES (#{name}, #{type}, #{description}, #{image}, #{totalCount}, #{availableCount}, #{status})
    </insert>
    <update id="update">
        UPDATE equipment
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="type != null">type = #{type},</if>
            <if test="description != null">description = #{description},</if>
            <if test="image != null">image = #{image},</if>
            <if test="totalCount != null">total_count = #{totalCount},</if>
            <if test="availableCount != null">available_count = #{availableCount},</if>
            <if test="status != null">status = #{status},</if>
        </set>
        WHERE id = #{id}
    </update>
    <delete id="delete">
        DELETE FROM equipment WHERE id = #{id}
    </delete>
</mapper>

