<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gym.mapper.NoticeMapper">
    <select id="findAll" resultType="com.gym.entity.Notice">
        SELECT * FROM notice ORDER BY create_time DESC
    </select>
    <select id="findById" resultType="com.gym.entity.Notice">
        SELECT * FROM notice WHERE id = #{id}
    </select>
    <insert id="insert">
        INSERT INTO notice (title, content, type, status)
        VALUES (#{title}, #{content}, #{type}, #{status})
    </insert>
    <update id="update">
        UPDATE notice
        <set>
            <if test="title != null">title = #{title},</if>
            <if test="content != null">content = #{content},</if>
            <if test="type != null">type = #{type},</if>
            <if test="status != null">status = #{status},</if>
        </set>
        WHERE id = #{id}
    </update>
    <delete id="delete">
        DELETE FROM notice WHERE id = #{id}
    </delete>
</mapper>

